<!-- <app-create-task-form (addTask)="onAddTask($event)"></app-create-task-form> -->
<!-- <app-tasks-list [tasksList]="tasks" (toggleComplete)="onToggleComplete($event)"></app-tasks-list> -->

<section>
  <a routerLink="/boards" routerLinkActive="active"
    ><mat-icon>keyboard_backspace</mat-icon> <span>Back to boards list</span></a
  >
  <br />
  <!-- <a routerLink="/new-column-form" routerLinkActive="active"> -->
    <button mat-fab color="primary" (click)="toggleForm()">
      <mat-icon>add</mat-icon>
    </button>
    <span (click)="toggleForm()">Add new column</span>


  <ng-container *ngIf="openedForm">
    <form
    id="create-column-form"
    name="create-column-form"
    [formGroup]="createColumnFields"
    (submit)="addColumn()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        class="column-title"
        name="column-title"
        placeholder="Title"
        formControlName="title"
        maxlength="20"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      Add
    </button>
  </form>
  </ng-container>

  <!-- <mat-card>
    <mat-card-header>{{ boardItem?.title }}</mat-card-header>
    <mat-card-content>
      <button mat-button color="warn" type="button" (click)="openDialog()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-content>
  </mat-card> -->

  <div *ngFor="let column of columns">
    <app-column key="column.order" [column]="column"></app-column>
  </div>



  <button mat-raised-button color="accent" (click)="getAllColumns()">
    Get all columns
  </button>
</section>