<mat-card class="my-thumble-card">
  <a [routerLink]="['/boards', board._id, 'columns']" routerLinkActive="active">
    <mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1603804449564-2ad32f24d17e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80"
        alt="Scrabble blocks arranged in the inscription make plan"
      />
    </mat-card-header>
    <mat-card-content
      ><h3>{{ board.title }}</h3></mat-card-content
    >
  </a>
  <mat-divider></mat-divider>
  <mat-card-actions class="board-actions">
    <button
      mat-icon-button
      color="primary"
      aria-label="Button with pen icon"
      type="button"
      (click)="openDialog({ boardId: board._id! })"
    >
      <mat-icon>create</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Button with trash bin icon"
      type="button"
      (click)="openDialog({ boardId: board._id! })"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
