<section>
  <mat-card class="error-card">
    <mat-card-header>
      <mat-card-title>Something went wrong.</mat-card-title>
    </mat-card-header>
    <p>Maybe you are not logged in?</p>
    <mat-card-actions>
      <p>
        Try to
        <a routerLink="/login-form" routerLinkActive="active">sign in</a> or
        <a routerLink="/signup-form" routerLinkActive="active">register</a>.
      </p>
    </mat-card-actions>
    <mat-card-content>
      <img src="assets/warning.png" alt="warning error icon" />
    </mat-card-content>
    <mat-card-footer>
      <p>
        Back to the
        <a routerLink="/home" routerLinkActive="active"> home page</a>.
      </p>
    </mat-card-footer>
  </mat-card>
</section>
