header {
  background-color: #391fa7;
  color: #d1d3cf;
  padding: 1rem;
  
  .header-wrapper {
    width: min(185ch, 100% - 4rem);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .app-title {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding: .8rem;
    
    @media (max-width: 599px) {
      padding: 0.3;
      font-size: 1.3rem;
    }
  }

  a.active {
    text-decoration: none;
  }

  a:hover {
    color: #9718ff;
  }
  @media (max-width: 599px) {
    padding: 0;
  }
}
