<!-- <div *ngIf="isError$ | async as error">{{ error }}</div> -->
<a routerLink="/new-board-form" routerLinkActive="active">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</a>
<mat-grid-list
  [cols]="mybreakpoint"
  rowHeight="500"
  (window:resize)="handleSize($event)"
>
  <mat-grid-tile *ngFor="let item of allBoards$ | async as boards">
    <app-board-tile
      [board]="item"
      key="{item._id}"
      (removeBoard)="removeBoard($event)"
    ></app-board-tile>
  </mat-grid-tile>
</mat-grid-list>


