<!-- <div *ngIf="isLoading$ | async" class="spinner">
  <mat-spinner></mat-spinner>
</div> -->
<!-- <div *ngIf="isError$ | async as error">{{ error }}</div> -->

<mat-grid-list
  [cols]="mybreakpoint"
  rowHeight="2:4"
  (window:resize)="handleSize($event)"
>
  <mat-grid-tile *ngFor="let item of allBoards$ | async">
    <app-board-tile [board]="item" key={item._id}></app-board-tile>
  </mat-grid-tile>

  <a routerLink="/new-board-form" routerLinkActive="active">
    <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </a>
</mat-grid-list>
