<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon fontIcon="menu" class="hamburger-menu-icon"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngIf="!isLoggedIn; else userSection">
    <button mat-menu-item routerLink="/login-form" routerLinkActive="active">
      Log in
    </button>

    <button routerLink="/signup-form" routerLinkActive="active" mat-menu-item>
      Sign up
    </button>
  </ng-container>
  <ng-template #userSection>
    <ul class="user-panel-list">
      <li>
        <a routerLink="/edit-form" routerLinkActive="active"
          ><mat-icon>person icon</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/boards" routerLinkActive="active"> Your plans </a>
      </li>
      <li>
        <a (click)="logOut()"
          >Log out <mat-icon fontIcon="exit_to_app"></mat-icon
        ></a>
      </li>
    </ul>
  </ng-template>
</mat-menu>
