<nav>
  <ng-container *ngIf="!showHamburger">
    <ng-container *ngIf="isLoggedIn; else loginBlock">
      <ul class="user-panel-list">
        <li>
          <a routerLink="/edit-form" routerLinkActive="active"
            ><mat-icon>person icon</mat-icon></a
          >
        </li>
        <li>
          <a routerLink="/boards" routerLinkActive="active"> Your plans </a>
        </li>
        <li>
          <a (click)="logOut()">Log out<mat-icon>exit_to_app </mat-icon></a>
        </li>
      </ul>
    </ng-container>
    <ng-template #loginBlock>
      <div class="login-panel">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/login-form"
          routerLinkActive="active"
        >
          Log in
        </button>
        <button
          mat-stroked-button
          color="primary"
          routerLink="/signup-form"
          routerLinkActive="active"
        >
          Sign up
        </button>
      </div>
    </ng-template>
  </ng-container>
  <!-- Hamburger menu  -->

  <ng-container *ngIf="showHamburger">
    <app-hamburger-menu
      [isLoggedIn]="isLoggedIn"
      (logOutUser)="logOut()"
    ></app-hamburger-menu>
  </ng-container>
</nav>
