nav {
  display: flex;
  justify-content: space-between;

  .user-panel-list {
    list-style: none;
    display: flex;

    li {
      padding: 1rem 0;
      display: grid;
      place-items: center;
      a {
        margin-left: 3rem;

        @media (max-width: 599px) {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .login-panel {
    display: flex;
    justify-content: flex-end;
    
    button {
      margin-left: 1rem;
      @media (max-width: 599px) {
        margin-bottom: 0.2rem;
        width: 5.5rem;
      }
    }
    @media (max-width: 599px) {
      padding: .6rem;
      flex-direction: column;
    }
  }
}
