@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  line-height: 1.5;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.65s ease;
  font-weight: 600;
}

a:hover {
  color: #573b93;
}

a.active {
  text-decoration: underline;
}

.spinner {
  width: 2rem;
  margin: auto;
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8e4ed;
  min-width: 320px;

  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 2rem 4rem;
    min-height: 90vh;
    width: min(185ch, 100% - 4rem);
    margin-inline: auto;

    // main {
      // flex-grow: 1;
      // display: grid;
      // place-items: center;
    // }
  }
}

.my-outlined-dialog {
  padding: 1rem;
}
