<div class="mat-typography">
    <h2>{{ message }}</h2>
    <form
      id="create-form"
      name="create-form"
      [formGroup]="createForm"
      (submit)="create()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          class="title"
          name="title"
          placeholder="Title"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Order</mat-label>
        <input
          matInput
          type="number"
          min="1"
          class="order"
          name="order"
          placeholder="order"
          formControlName="order"
        />
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="submit-button">
        {{ confirmButtonText }}
      </button>
    </form>
  </div>
  